<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="card" id="formFields" tabindex="1">
  <p-tabView orientation="left">
    <p-tabPanel header="Create Item">
      <div class="card">
        <div class="card mb-4">
          <div class="p-card-body mt-4" #formWrapper id="formWrapper">
            <div class="row">
              <div class="col-7">
                <form [formGroup]="itemForm" (ngSubmit)="CreateItem()">
                  <div class="p-fluid">
                    <div class="p-field">
                      <label for="nameLabel">Item Name:</label>
                      <input
                        id="nameLabel"
                        type="text"
                        pInputText
                        placeholder="Item Name"
                        formControlName="Name"
                      />
                    </div>
                    <div class="p-field">
                      <label for="descLabel">Item Description:</label>
                      <textarea
                        type="text"
                        rows="4"
                        cols="14"
                        pInputTextarea
                        id="descLabel"
                        placeholder="Item Description"
                        formControlName="Description"
                      ></textarea>
                    </div>
                    <div class="p-field">
                      <label for="isRawLabel">Is A Raw Material:</label>
                      <div
                        class="p-grid"
                        style="margin-top: 3px; margin-left: 5px"
                      >
                        <div class="p-col-12 p-md-4">
                          <div class="p-field-radiobutton">
                            <p-radioButton
                              name="IsRawMaterial"
                              value="1"
                              [(ngModel)]="isRawMaterialRadioButton"
                              formControlName="IsRawMaterial"
                              id="usecalendar"
                            ></p-radioButton>
                            <label for="usecalendar">Yes</label>
                          </div>
                        </div>
                        <div class="p-col-12 p-md-4"></div>
                        <div class="p-col-12 p-md-4">
                          <div class="p-field-radiobutton">
                            <p-radioButton
                              name="IsRawMaterial"
                              value="2"
                              [(ngModel)]="isRawMaterialRadioButton"
                              formControlName="IsRawMaterial"
                              id="enterDefault"
                            ></p-radioButton>
                            <label for="enterDefault">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                      <div class="pt-2 text-right">
                        <button
                          style="width: 20%"
                          pButton
                          pRipple
                          type="submit"
                          *ngIf="!editingItem"
                          [disabled]="itemForm.invalid"
                          label="Create Item"
                          icon="pi pi-plus-circle"
                          class="p-button-raised p-mr-2 p-mb-2"
                        ></button>
                        <button
                          pButton
                          pRipple
                          type="submit"
                          *ngIf="editingItem"
                          (click)="CloseEditingItem()"
                          label="Cancel Editing Item"
                          icon="pi pi-times-circle"
                          class="p-button-raised p-mr-2 p-mb-2 p-button-danger"
                        ></button>
                        <button
                          pButton
                          pRipple
                          type="button"
                          *ngIf="editingItem"
                          [disabled]="itemForm.invalid"
                          (click)="UpdateItem()"
                          icon="pi pi-save"
                          label="Update Item"
                          class="p-button-raised p-mr-0 p-mb-2"
                        ></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div
                    *ngIf="fetchingItems; else tableDataItem"
                    class="text-center"
                  >
                    <p-progressSpinner></p-progressSpinner>
                  </div>
                  <ng-template #tableDataItem>
                    <p-table
                      #dtItem
                      [value]="allItems"
                      [(selection)]="selectedItems"
                      dataKey="id"
                      styleClass="p-datatable-customers"
                      [rowHover]="true"
                      [rows]="10"
                      [paginator]="true"
                      [filterDelay]="0"
                      [globalFilterFields]="[
                        'name',
                        'description',
                        'dateAdded'
                      ]"
                      [columns]="itemCols"
                    >
                      <ng-template pTemplate="caption">
                        <div>
                          <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-o"
                            (click)="dtItem.exportCSV()"
                            class="p-mr-2"
                            pTooltip="CSV"
                            tooltipPosition="bottom"
                            label="export all"
                          ></button>
                          <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-filter"
                            (click)="dtItem.exportCSV({ selectionOnly: true })"
                            class="p-button-info p-ml-auto"
                            pTooltip="Selection Only"
                            tooltipPosition="bottom"
                            label="export selected"
                          ></button>
                        </div>
                        <div class="table-header">
                          <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                              pInputText
                              type="text"
                              (input)="
                                dtItem.filterGlobal(
                                  $event.target.value,
                                  'contains'
                                )
                              "
                              placeholder="Global Search"
                            />
                          </span>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th pSortableColumn="name">
                            Name
                            <p-sortIcon field="name"></p-sortIcon>
                          </th>
                          <th pSortableColumn="description">
                            Description
                            <p-sortIcon field="description"></p-sortIcon>
                          </th>
                          <th>Is Raw Material</th>
                          <th pSortableColumn="dateAdded">
                            Date Added
                            <p-sortIcon field="dateAdded"></p-sortIcon>
                          </th>
                          <th>Actions</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-selected>
                        <tr class="p-selectable-row">
                          <td>
                            <p-tableCheckbox
                              [value]="selected"
                            ></p-tableCheckbox>
                          </td>
                          <td>{{ selected.name }}</td>
                          <td>{{ selected.description }}</td>
                          <td>
                            <i
                              *ngIf="selected.itemType == 1"
                              class="pi pi-check"
                            ></i>
                            <i
                              *ngIf="selected.itemType != 1"
                              class="pi pi-times"
                            ></i>
                          </td>
                          <td>{{ selected.dateAdded | date: "yyyy-MM-dd" }}</td>
                          <td>
                            <p-button
                              label=""
                              icon="pi pi-trash"
                              styleClass="p-mr-2 p-button-danger"
                              (onClick)="DeleteItem(selected)"
                            ></p-button>
                            <p-button
                              label=""
                              icon="pi pi-pencil"
                              (onClick)="EditItem(selected)"
                            ></p-button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="8">No Item(s) Yet!</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Create Pack Size">
      <div class="card">
        <div class="card mb-4">
          <div class="p-card-body mt-4" #formWrapper id="formWrapper">
            <div class="row">
              <div class="col-7">
                <form [formGroup]="packSizeForm" (ngSubmit)="CreatePackSize()">
                  <div class="p-fluid">
                    <div class="p-field">
                      <label for="captLabel">Caption:</label>
                      <input
                        id="captLabel"
                        type="text"
                        pInputText
                        placeholder="Caption"
                        formControlName="Caption"
                      />
                    </div>
                    <div class="p-field">
                      <label for="pdescLabel">Description:</label>
                      <textarea
                        type="text"
                        rows="4"
                        cols="14"
                        pInputTextarea
                        id="pdescLabel"
                        placeholder="Description"
                        formControlName="Description"
                      ></textarea>
                    </div>
                  </div>
                  <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                      <div class="pt-2 text-right">
                        <button
                          style="width: 20%"
                          pButton
                          pRipple
                          type="submit"
                          *ngIf="!editingItem"
                          [disabled]="packSizeForm.invalid"
                          label="Create Pack Size"
                          icon="pi pi-plus-circle"
                          class="p-button-raised p-mr-2 p-mb-2"
                        ></button>
                        <button
                          pButton
                          pRipple
                          type="submit"
                          *ngIf="editingItem"
                          (click)="CloseEditingPackSize()"
                          label="Cancel Editing Pack Size"
                          icon="pi pi-times-circle"
                          class="p-button-raised p-mr-2 p-mb-2 p-button-danger"
                        ></button>
                        <button
                          pButton
                          pRipple
                          type="button"
                          *ngIf="editingItem"
                          [disabled]="packSizeForm.invalid"
                          (click)="UpdatePackSize()"
                          icon="pi pi-save"
                          label="Update Pack Size"
                          class="p-button-raised p-mr-0 p-mb-2"
                        ></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div
                    *ngIf="fetchingPackSize; else tableDataPackSize"
                    class="text-center"
                  >
                    <p-progressSpinner></p-progressSpinner>
                  </div>
                  <ng-template #tableDataPackSize>
                    <p-table
                      #dtPackSize
                      [value]="allPackSizes"
                      [(selection)]="selectedPackSize"
                      dataKey="id"
                      styleClass="p-datatable-customers"
                      [rowHover]="true"
                      [rows]="10"
                      [paginator]="true"
                      [filterDelay]="0"
                      [globalFilterFields]="[
                        'name',
                        'description',
                        'dateAdded'
                      ]"
                      [columns]="packSizeCols"
                    >
                      <ng-template pTemplate="caption">
                        <div>
                          <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-o"
                            (click)="dtPackSize.exportCSV()"
                            class="p-mr-2"
                            pTooltip="CSV"
                            tooltipPosition="bottom"
                            label="export all"
                          ></button>
                          <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-filter"
                            (click)="
                              dtPackSize.exportCSV({ selectionOnly: true })
                            "
                            class="p-button-info p-ml-auto"
                            pTooltip="Selection Only"
                            tooltipPosition="bottom"
                            label="export selected"
                          ></button>
                        </div>
                        <div class="table-header">
                          <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                              pInputText
                              type="text"
                              (input)="
                                dtPackSize.filterGlobal(
                                  $event.target.value,
                                  'contains'
                                )
                              "
                              placeholder="Global Search"
                            />
                          </span>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th pSortableColumn="name">
                            Name
                            <p-sortIcon field="name"></p-sortIcon>
                          </th>
                          <th pSortableColumn="description">
                            Description
                            <p-sortIcon field="description"></p-sortIcon>
                          </th>
                          <th pSortableColumn="dateAdded">
                            Date Added
                            <p-sortIcon field="dateAdded"></p-sortIcon>
                          </th>
                          <th>Actions</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-selected>
                        <tr class="p-selectable-row">
                          <td>
                            <p-tableCheckbox
                              [value]="selected"
                            ></p-tableCheckbox>
                          </td>
                          <td>{{ selected.name }}</td>
                          <td>{{ selected.description }}</td>
                          <td>{{ selected.dateAdded | date: "yyyy-MM-dd" }}</td>
                          <td>
                            <p-button
                              label=""
                              icon="pi pi-trash"
                              styleClass="p-mr-2 p-button-danger"
                              (onClick)="DeletePackSize(selected)"
                            ></p-button>
                            <p-button
                              label=""
                              icon="pi pi-pencil"
                              (onClick)="EditPackSize(selected)"
                            ></p-button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="8">No Pac Size(s) Yet!</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Create Approving Officer">
      <div class="card">
        <div class="card mb-4">
          <div class="p-card-body mt-4" #formWrapper id="formWrapper">
            <div class="row">
              <div class="col-7">
                <form
                  [formGroup]="approvingOfficerForm"
                  (ngSubmit)="CreateApprovingOfficer()"
                >
                  <div class="p-fluid">
                    <div class="p-field p-grid">
                      <label
                        for="officerLabel"
                        class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"
                        >Officer:
                      </label>
                      <div class="p-col-12 p-md-9">
                        <p-dropdown
                          inputId="packSizLabel"
                          [options]="allUsers"
                          [(ngModel)]="theUser"
                          placeholder="--Select Officer--"
                          [showClear]="true"
                          [filter]="true"
                          optionLabel="fullname"
                          formControlName="Officer"
                        >
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                      <div class="pt-2 text-right">
                        <button
                          style="width: 40%"
                          pButton
                          pRipple
                          type="submit"
                          [disabled]="approvingOfficerForm.invalid"
                          label="Make User Approving Officer"
                          icon="pi pi-plus-circle"
                          class="p-button-raised p-mr-2 p-mb-2"
                        ></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div
                    *ngIf="
                      fetchingApprovingOfficers;
                      else tableDataApprovingOfficer
                    "
                    class="text-center"
                  >
                    <p-progressSpinner></p-progressSpinner>
                  </div>
                  <ng-template #tableDataApprovingOfficer>
                    <p-table
                      #dtApprovingOfficer
                      [value]="allApprovingOfficers"
                      dataKey="id"
                      styleClass="p-datatable-customers"
                      [rowHover]="true"
                      [rows]="10"
                      [paginator]="true"
                      [filterDelay]="0"
                    >
                      <ng-template pTemplate="caption">
                        <div>
                          <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-o"
                            (click)="dtApprovingOfficer.exportCSV()"
                            class="p-mr-2"
                            pTooltip="CSV"
                            tooltipPosition="bottom"
                            label="export all"
                          ></button>
                          <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-filter"
                            (click)="
                              dtApprovingOfficer.exportCSV({
                                selectionOnly: true
                              })
                            "
                            class="p-button-info p-ml-auto"
                            pTooltip="Selection Only"
                            tooltipPosition="bottom"
                            label="export selected"
                          ></button>
                        </div>
                        <div class="table-header">
                          <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                              pInputText
                              type="text"
                              (input)="
                                dtApprovingOfficer.filterGlobal(
                                  $event.target.value,
                                  'contains'
                                )
                              "
                              placeholder="Global Search"
                            />
                          </span>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th pSortableColumn="name">
                            Officer Name
                            <p-sortIcon field="name"></p-sortIcon>
                          </th>
                          <th pSortableColumn="dateAdded">
                            Date Added
                            <p-sortIcon field="dateAdded"></p-sortIcon>
                          </th>
                          <th>Actions</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-selected>
                        <tr class="p-selectable-row">
                          <td>
                            <p-tableCheckbox
                              [value]="selected"
                            ></p-tableCheckbox>
                          </td>
                          <td>{{ selected.name }}</td>
                          <td>{{ selected.dateAdded | date: "yyyy-MM-dd" }}</td>
                          <td>
                            <p-button
                              label=""
                              icon="pi pi-trash"
                              styleClass="p-mr-2 p-button-danger"
                              (onClick)="DeleteApprovingOfficer(selected)"
                            ></p-button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="8">No Approving Officer(s) Yet!</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
