<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="card" id="formFields" tabindex="1">
  <p-tabView orientation="left">
    <p-tabPanel header="Create Product">
      <div class="card">
        <div class="card mb-4">
          <div class="p-card-body mt-4" #formWrapper id="formWrapper">
            <div class="row">
              <div class="col-7">
                <form [formGroup]="productForm" (ngSubmit)="CreateProduct()">
                  <div class="p-fluid">
                    <div class="p-field p-grid">
                      <label
                        for="isNameLabel"
                        class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"
                        >Product Name:
                      </label>
                      <div class="p-col-12 p-md-9">
                        <input
                          id="isNameLabel"
                          type="text"
                          pInputText
                          placeholder="Product Name"
                          formControlName="Name"
                        />
                      </div>
                    </div>
                    <div class="p-field p-grid">
                      <label
                        for="isDescLabel"
                        class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"
                        >Description:
                      </label>
                      <div class="p-col-12 p-md-9">
                        <textarea
                          type="text"
                          rows="4"
                          cols="14"
                          pInputTextarea
                          id="isDescLabel"
                          placeholder="Product Description"
                          formControlName="Description"
                        ></textarea>
                      </div>
                    </div>
                    <div class="p-field p-grid">
                      <label
                        for="itemLabel"
                        class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"
                        >Inventory Item:
                      </label>
                      <div class="p-col-12 p-md-9">
                        <p-dropdown
                          inputId="itemLabel"
                          [options]="allItems"
                          [(ngModel)]="theItem"
                          placeholder="--Select--"
                          [showClear]="true"
                          [filter]="true"
                          optionLabel="name"
                          formControlName="InventoryItem"
                        >
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                      <div class="pt-2 text-right">
                        <button
                          pButton
                          pRipple
                          type="submit"
                          *ngIf="!editing"
                          [disabled]="productForm.invalid"
                          label="Create Product"
                          icon="pi pi-plus-circle"
                          class="p-button-raised p-mr-2 p-mb-2"
                        ></button>
                        <button
                          pButton
                          pRipple
                          type="submit"
                          *ngIf="editing"
                          (click)="CloseEditing()"
                          label="Cancel Editing"
                          icon="pi pi-times-circle"
                          class="p-button-raised p-mr-2 p-mb-2 p-button-danger"
                        ></button>
                        <button
                          pButton
                          pRipple
                          type="button"
                          *ngIf="editing"
                          [disabled]="productForm.invalid"
                          (click)="UpdateProduct()"
                          icon="pi pi-save"
                          label="Save"
                          class="p-button-raised p-mr-0 p-mb-2"
                        ></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div *ngIf="fetching; else tableData" class="text-center">
                    <p-progressSpinner></p-progressSpinner>
                  </div>
                  <ng-template #tableData>
                    <p-table
                      #dt
                      [value]="allProducts"
                      [(selection)]="selectedProducts"
                      dataKey="id"
                      styleClass="p-datatable-customers"
                      [rowHover]="true"
                      [rows]="10"
                      [paginator]="true"
                      [filterDelay]="0"
                      [globalFilterFields]="[
                        'name',
                        'description',
                        'dateAdded'
                      ]"
                      [columns]="cols"
                    >
                      <ng-template pTemplate="caption">
                        <div>
                          <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-o"
                            (click)="dt.exportCSV()"
                            class="p-mr-2"
                            pTooltip="CSV"
                            tooltipPosition="bottom"
                            label="export all"
                          ></button>
                          <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-filter"
                            (click)="dt.exportCSV({ selectionOnly: true })"
                            class="p-button-info p-ml-auto"
                            pTooltip="Selection Only"
                            tooltipPosition="bottom"
                            label="export selected"
                          ></button>
                        </div>
                        <div class="table-header">
                          <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                              pInputText
                              type="text"
                              (input)="
                                dt.filterGlobal($event.target.value, 'contains')
                              "
                              placeholder="Global Search"
                            />
                          </span>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th pSortableColumn="name">
                            Name
                            <p-sortIcon field="name"></p-sortIcon>
                          </th>
                          <th pSortableColumn="description">
                            Description
                            <p-sortIcon field="description"></p-sortIcon>
                          </th>
                          <th>Inventory Item</th>
                          <th pSortableColumn="dateAdded">
                            Date Added
                            <p-sortIcon field="dateAdded"></p-sortIcon>
                          </th>
                          <th>Actions</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-selected>
                        <tr class="p-selectable-row">
                          <td>
                            <p-tableCheckbox
                              [value]="selected"
                            ></p-tableCheckbox>
                          </td>
                          <td>{{ selected.name }}</td>
                          <td>{{ selected.description }}</td>
                          <td>
                            {{ GetInventoryItemName(selected.inventoryItemId) }}
                          </td>
                          <td>{{ selected.dateAdded | date: "yyyy-MM-dd" }}</td>
                          <td>
                            <p-button
                              label=""
                              icon="pi pi-trash"
                              styleClass="p-mr-2 p-button-danger"
                              (onClick)="DeleteProduct(selected)"
                            ></p-button>
                            <p-button
                              label=""
                              icon="pi pi-pencil"
                              (onClick)="EditProduct(selected)"
                            ></p-button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="8">No Product found.</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Setup Product Supplier">
      <div class="card">
        <div class="card mb-4">
          <div class="p-card-body mt-4" #formWrapper id="formWrapper">
            <div class="row">
              <div class="col-7">
                <form
                  [formGroup]="supplierForm"
                  (ngSubmit)="CreateProductSupplier()"
                >
                  <div class="p-fluid">
                    <div class="p-field">
                      <label for="nameLabel">Supplier Name:</label>
                      <input
                        id="nameLabel"
                        type="text"
                        pInputText
                        placeholder="Supplier Name"
                        formControlName="Name"
                      />
                    </div>
                    <div class="p-field">
                      <label for="descLabel">Supplier Description:</label>
                      <textarea
                        type="text"
                        rows="4"
                        cols="14"
                        pInputTextarea
                        id="descLabel"
                        placeholder="Supplier Description"
                        formControlName="Description"
                      ></textarea>
                    </div>
                    <div class="p-field">
                      <label for="locateLabel">Supplier Location:</label>
                      <textarea
                        type="text"
                        rows="4"
                        cols="14"
                        pInputTextarea
                        id="locateLabel"
                        placeholder="Supplier Location"
                        formControlName="Location"
                      ></textarea>
                    </div>
                    <div class="p-field">
                      <label for="cnameLabel">Supplier Contact Name:</label>
                      <input
                        id="cnameLabel"
                        type="text"
                        pInputText
                        placeholder="Contact Name"
                        formControlName="ContactName"
                      />
                    </div>
                    <div class="p-field">
                      <label for="cmobileLabel">Supplier Contact Mobile:</label>
                      <input
                        id="cmobileLabel"
                        type="text"
                        pInputText
                        placeholder="Contact Mobile"
                        formControlName="ContactMobile"
                      />
                    </div>
                    <div class="p-field">
                      <label for="cemailLabel">Supplier Contact Email:</label>
                      <input
                        id="cemailLabel"
                        type="text"
                        pInputText
                        placeholder="Contact Email"
                        formControlName="ContactEmail"
                      />
                    </div>
                    <div class="p-field">
                      <label for="serviceChargeLabel"
                        >Supplier Service Charge (Naira):</label
                      >
                      <input
                        id="serviceChargeLabel"
                        type="number"
                        pInputText
                        placeholder="Service Charge"
                        formControlName="ServiceCharge"
                      />
                    </div>
                  </div>
                  <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                      <div class="pt-2 text-right">
                        <button
                          style="width: 40%"
                          pButton
                          pRipple
                          type="submit"
                          *ngIf="!editingSupplier"
                          [disabled]="supplierForm.invalid"
                          label="Create Product Supplier"
                          icon="pi pi-plus-circle"
                          class="p-button-raised p-mr-2 p-mb-2"
                        ></button>
                        <button
                          pButton
                          pRipple
                          type="submit"
                          *ngIf="editingSupplier"
                          (click)="CloseEditingSupplier()"
                          label="Cancel Editing Product Supplier"
                          icon="pi pi-times-circle"
                          class="p-button-raised p-mr-2 p-mb-2 p-button-danger"
                        ></button>
                        <button
                          pButton
                          pRipple
                          type="button"
                          *ngIf="editingSupplier"
                          [disabled]="supplierForm.invalid"
                          (click)="UpdateProductSupplier()"
                          icon="pi pi-save"
                          label="Update Product Supplier"
                          class="p-button-raised p-mr-0 p-mb-2"
                        ></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div
                    *ngIf="fetchingSuppliers; else tableDataSupplier"
                    class="text-center"
                  >
                    <p-progressSpinner></p-progressSpinner>
                  </div>
                  <ng-template #tableDataSupplier>
                    <p-table
                      #dtSupplier
                      [value]="allSuppliers"
                      [(selection)]="selectedSuppliers"
                      dataKey="id"
                      styleClass="p-datatable-customers"
                      [rowHover]="true"
                      [rows]="10"
                      [paginator]="true"
                      [filterDelay]="0"
                      [globalFilterFields]="[
                        'supplierName',
                        'supplierDescription',
                        'supplierLocation',
                        'contactPersonName',
                        'contactPersonMobile',
                        'contactPersonEmail',
                        'serviceCharge',
                        'dateAdded'
                      ]"
                      [columns]="supplierCols"
                    >
                      <ng-template pTemplate="caption">
                        <div>
                          <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-o"
                            (click)="dtSupplier.exportCSV()"
                            class="p-mr-2"
                            pTooltip="CSV"
                            tooltipPosition="bottom"
                            label="export all"
                          ></button>
                          <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-filter"
                            (click)="
                              dtSupplier.exportCSV({ selectionOnly: true })
                            "
                            class="p-button-info p-ml-auto"
                            pTooltip="Selection Only"
                            tooltipPosition="bottom"
                            label="export selected"
                          ></button>
                        </div>
                        <div class="table-header">
                          <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                              pInputText
                              type="text"
                              (input)="
                                dtSupplier.filterGlobal(
                                  $event.target.value,
                                  'contains'
                                )
                              "
                              placeholder="Global Search"
                            />
                          </span>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th pSortableColumn="supplierName">
                            Name
                            <p-sortIcon field="supplierName"></p-sortIcon>
                          </th>
                          <th>Description</th>
                          <th>Service Charge</th>
                          <th>Location</th>
                          <th>Contact Name</th>
                          <th>Contact Mobile</th>
                          <th>Contact Email</th>
                          <th>Date Added</th>
                          <th>Actions</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-selected>
                        <tr class="p-selectable-row">
                          <td>
                            <p-tableCheckbox
                              [value]="selected"
                            ></p-tableCheckbox>
                          </td>
                          <td>{{ selected.supplierName }}</td>
                          <td>{{ selected.supplierDescription }}</td>
                          <td>{{ "N" + (selected.serviceCharge | number) }}</td>
                          <td>{{ selected.supplierLocation }}</td>
                          <td>{{ selected.contactPersonName }}</td>
                          <td>{{ selected.contactPersonMobile }}</td>
                          <td>{{ selected.contactPersonEmail }}</td>
                          <td>{{ selected.dateAdded | date: "yyyy-MM-dd" }}</td>
                          <td>
                            <p-button
                              label=""
                              icon="pi pi-trash"
                              styleClass="p-mr-2 p-button-danger"
                              (onClick)="DeleteProductSupplier(selected)"
                            ></p-button>
                            <p-button
                              label=""
                              icon="pi pi-pencil"
                              (onClick)="EditProductSupplier(selected)"
                            ></p-button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="6">No Product Supplier(s) Yet!</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
