<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="p-grid">
  <div class="p-col-12 p-md-6" style="width: 40%">
    <div class="card" #formWrapper>
      <h5>Customer Order Confirmation</h5>
      <div class="row" style="width: 100%">
        <div
          *ngIf="fetchingPendingConfirmation"
          class="row text-center"
          style="width: 100%"
        >
          <p-progressSpinner></p-progressSpinner>
          <b>Please Hold on, Fetching Pending Batch Confirmation(s)......</b>
          <br />
          <br />
        </div>
        <p-table
          *ngIf="!fetchingPendingConfirmation"
          [value]="allPendingConfirmations"
          dataKey="id"
          styleClass="p-datatable-customers"
          [rowHover]="true"
          [rows]="10"
          [paginator]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Batch Name</th>
              <th>Batch Code</th>
              <!-- <th>Batch Descriprion</th> -->
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-selected>
            <tr class="p-selectable-row">
              <td>{{ selected.name }}</td>
              <td>{{ selected.code }}</td>
              <!-- <td>{{ selected.description }}</td> -->
              <td>
                <p-button
                  label=""
                  icon="pi pi-arrow-right"
                  (onClick)="PickBatch(selected)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="3">No Pending Confirmation(s) Found</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6" style="width: 60%" *ngIf="batchInView">
    <div class="card" #formWrapper>
      <div class="row" style="width: 100%">
        <div class="p-grid p-fluid row">
          <h5>
            <b>BATCH DESCRIPTION:</b> &nbsp; {{ batchInView?.description }}
            <br />
            <b>DATE CREATED:</b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            {{ FormatDateString(batchInView?.dateCreated) }}
            <br />
          </h5>
        </div>
      </div>
      <div class="row" style="width: 100%">
        <p-table
          [value]="batchInView.customerOrders"
          dataKey="id"
          styleClass="p-datatable-customers"
          [rowHover]="true"
          [rows]="5"
          [paginator]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Customer</th>
              <th>Product</th>
              <th>Qty Ordered</th>
              <th>Qty Confirmed</th>
              <th>Payment Status</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-selected>
            <tr class="p-selectable-row">
              <td>{{ selected.customerName }}</td>
              <td>{{ selected.productName }}</td>
              <td>{{ selected.quantity }}</td>
              <td>{{ selected.quantityConfirmed }}</td>
              <td>
                <button
                  *ngIf="
                    !(
                      selected.amountPaid + selected.additionalAmountPaid ==
                      selected.amountToBePaid
                    )
                  "
                  pButton
                  pRipple
                  type="button"
                  (click)="AddOrderPayment(selected)"
                  icon="pi pi-dollar"
                  label="Add Payment"
                  class="p-button-raised p-mr-0 p-mb-2 p-button-warning"
                ></button>
                <button
                  *ngIf="
                    selected.amountPaid + selected.additionalAmountPaid ==
                    selected.amountToBePaid
                  "
                  pButton
                  pRipple
                  type="button"
                  (click)="AddOrderPayment(selected)"
                  icon="pi pi-dollar"
                  label="Is Fully Paid"
                  class="p-button-raised p-mr-0 p-mb-2 p-button-success"
                ></button>
              </td>
              <td>
                <p-button
                  label=""
                  icon="pi pi-arrow-down"
                  (onClick)="LoadClientRequest(selected)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No Order Pending Confirmation(s) Found</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div
        class="row"
        style="width: 100%; margin-top: 5px"
        *ngIf="orderInViewForConfirmation"
      >
        <div class="card widget-timeline border p-4 mb-5">
          <div class="p-grid row">
            <h3 style="text-align: center"><u>Customer Order Details</u></h3>
            <p-table
              [value]="orderDetailTable"
              dataKey="id"
              styleClass="p-datatable-customers"
              [rowHover]="true"
              [rows]="8"
              [paginator]="false"
            >
              <ng-template pTemplate="body" let-selected>
                <tr class="p-selectable-row">
                  <td>
                    <b>{{ selected.name }}</b>
                  </td>
                  <td>{{ selected.data }}</td>
                </tr>
              </ng-template>
            </p-table>
            <div class="p-grid" style="margin-top: 3px">
              <div class="p-col-12 p-md-12">
                <div class="pt-2 text-right">
                  <button
                    pButton
                    pRipple
                    type="button"
                    (click)="ShowBatchItems()"
                    icon="pi pi-sort-amount-down"
                    label="Show Order Confirmations"
                    class="p-button-raised p-mr-0 p-mb-2"
                  ></button>
                  &nbsp;&nbsp;
                  <button
                    pButton
                    pRipple
                    type="button"
                    (click)="AddNewConfirmation()"
                    icon="pi pi-plus"
                    label="Add Order Confirmation"
                    class="p-button-raised p-mr-0 p-mb-2"
                  ></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <h5 style="text-align: center"><u>Order Confirmations</u></h5>
                  <p-table
                    #dtConfirmations
                    [value]="orderInViewConfirmations"
                    dataKey="id"
                    styleClass="p-datatable-customers"
                    [rowHover]="true"
                    [rows]="5"
                    [paginator]="true"
                    [filterDelay]="0"
                    [globalFilterFields]="[
                      'dateCreated',
                      'quantity',
                      'createdBy',
                      'comment',
                      'productName'
                    ]"
                    [columns]="confirmationCols"
                  >
                    <ng-template pTemplate="caption">
                      <div>
                        <button
                          type="button"
                          pButton
                          pRipple
                          icon="pi pi-file-o"
                          (click)="dtConfirmations.exportCSV()"
                          class="p-mr-2"
                          pTooltip="CSV"
                          tooltipPosition="bottom"
                          label="export all"
                        ></button>
                      </div>
                      <div class="table-header">
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input
                            pInputText
                            type="text"
                            (input)="
                              dtConfirmations.filterGlobal(
                                $event.target.value,
                                'contains'
                              )
                            "
                            placeholder="Global Search"
                          />
                        </span>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Date Confirmed</th>
                        <th>Confirmed By</th>
                        <th>Quantity Confirmed</th>
                        <th>Product</th>
                        <th>Comment</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-selected>
                      <tr class="p-selectable-row">
                        <td>
                          <p-tableCheckbox [value]="selected"></p-tableCheckbox>
                        </td>
                        <td>{{ selected.dateCreated }}</td>
                        <td>{{ selected.quantity }}</td>
                        <td>{{ selected.createdBy }}</td>
                        <td>{{ selected.comment }}</td>
                        <td>{{ selected.productName }}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="5">No Item found in batch.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="openPaymentDialogue"
  [style]="{ width: '850px' }"
  header=" Order Payment View"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="card" #formWrapper>
      <div class="row">
        <div class="card widget-timeline border p-4 mb-5">
          <div class="p-grid row">
            <form [formGroup]="paymentForm" (ngSubmit)="SaveOrderPayment()">
              <div class="p-fluid">
                <div class="p-field">
                  <label for="id2Label">Amount To Pay:</label>
                  <input
                    id="id2Label"
                    type="text"
                    pInputText
                    disabled="disabled"
                    placeholder="Amount To Pay"
                    formControlName="AmountToBePaid"
                  />
                </div>
                <div class="p-field">
                  <label for="idLabel">Amount Paid:</label>
                  <input
                    id="idLabel"
                    type="number"
                    pInputText
                    placeholder="Amount Paid"
                    formControlName="AmountPaid"
                  />
                </div>
                <div class="p-field">
                  <label for="descLabel">Comment:</label>
                  <textarea
                    type="text"
                    rows="4"
                    cols="14"
                    pInputTextarea
                    id="descLabel"
                    placeholder="Comment"
                    formControlName="Comment"
                  ></textarea>
                </div>
              </div>
              <div class="p-grid">
                <div class="p-col-12 p-md-12">
                  <div class="pt-2 text-right">
                    <button
                      style="width: 30%"
                      pButton
                      pRipple
                      type="submit"
                      [disabled]="paymentForm.invalid"
                      label="Save Payment"
                      icon="pi pi-plus-circle"
                      class="p-button-raised p-mr-2 p-mb-2"
                    ></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card p-grid p-col-12 mb-3">
          <h5>Payment(s) Captured For Selected Cutomer Order</h5>
          <p-table
            #dtPaymentView
            [value]="orderInViewForPayment.payments"
            dataKey="id"
            styleClass="p-datatable-customers"
            [rowHover]="true"
            [rows]="5"
            [paginator]="true"
            [filterDelay]="0"
            [globalFilterFields]="['amounPaid', 'comment', 'createdBy']"
            [columns]="orderPaymentCols"
          >
            <ng-template pTemplate="caption">
              <div>
                <button
                  type="button"
                  pButton
                  pRipple
                  icon="pi pi-file-o"
                  (click)="dtPaymentView.exportCSV()"
                  class="p-mr-2"
                  pTooltip="CSV"
                  tooltipPosition="bottom"
                  label="export all"
                ></button>
              </div>
              <div class="table-header">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="
                      dtPaymentView.filterGlobal(
                        $event.target.value,
                        'contains'
                      )
                    "
                    placeholder="Global Search"
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Amount Paid</th>
                <th>Mode Of Payment</th>
                <th>Captured By</th>
                <th>Comment</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-selected>
              <tr class="p-selectable-row">
                <td>
                  <p-tableCheckbox [value]="selected"></p-tableCheckbox>
                </td>
                <td>{{ "N" + (selected.amounPaid | number) }}</td>
                <td>{{ GetPaymentModeLabel(selected.paymentMode) }}</td>
                <td>{{ selected.createdBy }}</td>
                <td>{{ selected.comment }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No Payment(s) Captured Yet!.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Close"
      icon="pi pi-times"
      class="p-button-text"
      (click)="HidePaymentDialog()"
    ></button>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="openConfirmationDialogue"
  [style]="{ width: '850px' }"
  header=" Order Confirmation"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="card" #formWrapper>
      <div class="row">
        <div class="card widget-timeline border p-4 mb-5">
          <div class="p-grid row">
            <form
              [formGroup]="confirmationForm"
              (ngSubmit)="SaveOrderConfimration()"
            >
              <div class="p-fluid">
                <div class="p-field">
                  <label for="qrrLabel">Quantity Remaining:</label>
                  <input
                    id="qrrLabel"
                    type="text"
                    pInputText
                    disabled="disabled"
                    placeholder="Quantity Remaining"
                    formControlName="QuantityRemaining"
                  />
                </div>
                <div class="p-field">
                  <label for="idLabel">Quantity Confirmed:</label>
                  <input
                    id="idLabel"
                    type="number"
                    pInputText
                    placeholder="Quantity Confirmed"
                    formControlName="QuantityConfirmed"
                  />
                </div>
                <div class="p-field">
                  <label for="descLabel">Comment:</label>
                  <textarea
                    type="text"
                    rows="4"
                    cols="14"
                    pInputTextarea
                    id="descLabel"
                    placeholder="Comment"
                    formControlName="Comment"
                  ></textarea>
                </div>
              </div>
              <div class="p-grid">
                <div class="p-col-12 p-md-12">
                  <div class="pt-2 text-right">
                    <button
                      style="width: 30%"
                      pButton
                      pRipple
                      type="submit"
                      [disabled]="confirmationForm.invalid"
                      label="Save Confirmation"
                      icon="pi pi-plus-circle"
                      class="p-button-raised p-mr-2 p-mb-2"
                    ></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Close"
      icon="pi pi-times"
      class="p-button-text"
      (click)="HideConfirmationDialog()"
    ></button>
  </ng-template>
</p-dialog>
