<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="card" id="formFields" tabindex="1">
  <p-tabView orientation="left">
    <p-tabPanel header="Setup User" leftIcon="pi pi-home">
      <div class="p-grid card" style="width: 100%">
        <div class="p-col-12" style="width: 100%">
          <div class="card mb-4">
            <div class="p-card-body mt-4" #formWrapper id="formWrapper">
              <div class="row card widget-timeline border p-4 mb-5">
                <div class="col-7" style="width: 100%">
                  <form [formGroup]="userForm" (ngSubmit)="CreateUser()">
                    <div class="p-fluid p-formgrid p-grid">
                      <div class="p-field p-col-12 p-md-3" style="width: 50%">
                        <label for="lnameCapt">Last Name</label>
                        <input
                          id="lnameCapt"
                          type="text"
                          placeholder="LastName"
                          formControlName="LastName"
                          pInputText
                        />
                      </div>
                      <div class="p-field p-col-12 p-md-3" style="width: 50%">
                        <label for="fnameLabel">First Name</label>
                        <input
                          id="fnameLabel"
                          type="text"
                          placeholder="FirstName"
                          formControlName="FirstName"
                          pInputText
                        />
                      </div>
                    </div>
                    <div class="p-fluid p-formgrid p-grid">
                      <div class="p-field p-col-12 p-md-3" style="width: 50%">
                        <label for="onameCapt">Other Name</label>
                        <input
                          id="onameCapt"
                          type="text"
                          placeholder="OtherName"
                          formControlName="OtherName"
                          pInputText
                        />
                      </div>
                      <div class="p-field p-col-12 p-md-3" style="width: 50%">
                        <label for="cnameLabel">Code Name</label>
                        <input
                          id="cnameLabel"
                          type="text"
                          placeholder="CodeName"
                          formControlName="CodeName"
                          pInputText
                        />
                      </div>
                    </div>
                    <div class="p-fluid p-formgrid p-grid">
                      <div class="p-field p-col-12 p-md-3" style="width: 50%">
                        <label for="mobileLabel">Phone Number</label>
                        <input
                          id="mobileLabel"
                          type="text"
                          placeholder="Mobile"
                          formControlName="Mobile"
                          pInputText
                        />
                      </div>
                      <div class="p-field p-col-12 p-md-3" style="width: 50%">
                        <label for="emailLabel">Email</label>
                        <input
                          id="emailLabel"
                          type="text"
                          placeholder="Email"
                          formControlName="Email"
                          pInputText
                        />
                      </div>
                    </div>
                    <div class="p-fluid p-formgrid p-grid">
                      <div class="p-field p-col-12 p-md-3" style="width: 50%">
                        <label for="pswLabel">Default Password</label>
                        <input
                          id="pswLabel"
                          type="password"
                          placeholder="Default Password"
                          formControlName="DefaultPassword"
                          pInputText
                        />
                      </div>
                      <div class="p-field p-col-12 p-md-3" style="width: 50%">
                        <label for="roleLabel">Assigned Role</label>
                        <p-dropdown
                          inputId="roleLabel"
                          [options]="allRoles"
                          [(ngModel)]="theRole"
                          placeholder="--Select--"
                          [showClear]="true"
                          [filter]="true"
                          optionLabel="roleName"
                          formControlName="AssignedRole"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="p-fluid p-formgrid p-grid">
                      <div class="p-field p-col-12 p-md-3" style="width: 50%">
                        <label for="adressLabel">Address</label>
                        <textarea
                          type="text"
                          rows="4"
                          cols="14"
                          pInputTextarea
                          id="adressLabel"
                          placeholder="Address"
                          formControlName="Address"
                        ></textarea>
                      </div>
                      <div
                        class="p-field p-col-12 p-md-3"
                        style="width: 50%"
                      ></div>
                    </div>
                    <div class="p-grid">
                      <div class="p-col-12 p-md-12">
                        <div class="pt-2 text-right">
                          <button
                            style="width: 20%"
                            pButton
                            pRipple
                            type="submit"
                            *ngIf="!editingUser"
                            [disabled]="userForm.invalid"
                            label="Create User Account"
                            icon="pi pi-plus-circle"
                            class="p-button-raised p-mr-2 p-mb-2"
                          ></button>
                          <button
                            pButton
                            pRipple
                            type="submit"
                            *ngIf="editingUser"
                            (click)="CloseEditing()"
                            label="Cancel Editing"
                            icon="pi pi-times-circle"
                            class="p-button-raised p-mr-2 p-mb-2 p-button-danger"
                          ></button>
                          <button
                            pButton
                            pRipple
                            type="button"
                            *ngIf="editingUser"
                            [disabled]="userForm.invalid"
                            (click)="UpdateUser()"
                            icon="pi pi-save"
                            label="Update User Account"
                            class="p-button-raised p-mr-0 p-mb-2"
                          ></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div
                      *ngIf="fetchingUsers; else tableData"
                      class="text-center"
                    >
                      <p-progressSpinner></p-progressSpinner>
                    </div>
                    <ng-template #tableData>
                      <div class="row" style="width: 100%">
                        <div class="p-fluid">
                          <p-messages [value]="summaryMsg"></p-messages>
                        </div>
                      </div>
                      <div class="row" style="width: 100%">
                        <div class="p-grid p-fluid">
                          <div class="p-col-12">
                            <p-dataView
                              #dv
                              [value]="allUsers"
                              [paginator]="true"
                              filterBy="lastName"
                              [rows]="6"
                              [sortField]="sortField"
                              [sortOrder]="sortOrder"
                              layout="grid"
                            >
                              <ng-template pTemplate="header">
                                <div
                                  class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between"
                                >
                                  <span
                                    class="p-input-icon-left p-mb-2 p-mb-md-0"
                                    style="margin-right: 20px"
                                  >
                                    <i class="pi pi-search"></i>
                                    <input
                                      type="search"
                                      pInputText
                                      placeholder="Search by Last Name"
                                      (input)="dv.filter($event.target.value)"
                                    />
                                  </span>
                                  <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                                </div>
                              </ng-template>
                              <ng-template let-user pTemplate="listItem">
                                <div class="p-col-12">
                                  <div
                                    class="product-list-item card widget-timeline border p-4 mb-5 shadow rounded"
                                    style="
                                      margin-top: 20px;
                                      margin-bottom: 20px;
                                    "
                                  >
                                    <h5
                                      style="
                                        align-items: center;
                                        text-align: center;
                                      "
                                    >
                                      {{ user.lastname + " " + user.firstname }}
                                    </h5>
                                    <img
                                      style="width: 120px; height: 120px"
                                      [src]="
                                        user.profilePic
                                          ? user.profilePic
                                          : 'assets/no-profile.png'
                                      "
                                      [alt]="user.lastName"
                                    />
                                    <div class="product-list-detail">
                                      <div class="product-name">
                                        {{
                                          "Created On: " +
                                            (user.dateRegistered
                                              | date: "yyyy-MM-dd")
                                        }}
                                      </div>
                                      <div class="product-description">
                                        {{
                                          "Created By: " +
                                            GetUserFullName(user.registeredById)
                                        }}
                                      </div>
                                      <br />
                                      <i
                                        class="pi pi-discord product-category-icon"
                                      ></i
                                      ><span class="product-category"></span>
                                    </div>
                                    <div class="product-list-action">
                                      <span class="product-price"></span>
                                      <br />
                                    </div>
                                    <br />
                                  </div>
                                  <p-button
                                    *ngIf="user.isDeactivated"
                                    icon=""
                                    label="Activate"
                                    styleClass="p-mr-2 p-button-success"
                                    (click)="SwitchUserStatus(user)"
                                  ></p-button>
                                  <p-button
                                    *ngIf="!user.isDeactivated"
                                    icon=""
                                    label="Deactivate"
                                    styleClass="p-mr-2 p-button-danger"
                                    (click)="SwitchUserStatus(user)"
                                  ></p-button>
                                  <div
                                    style="
                                      width: 100%;
                                      align-items: center;
                                      text-align: center;
                                      margin-top: 2px;
                                    "
                                  >
                                    <p-button
                                      label=""
                                      icon="pi pi-pencil"
                                      styleClass="p-mr-2 p-button-info"
                                      (onClick)="EditUser(user)"
                                    ></p-button>
                                    <p-button
                                      label=""
                                      icon="pi pi-trash"
                                      disabled="disabled"
                                      styleClass="p-mr-2 p-button-primary"
                                      (onClick)="DeleteUser(user)"
                                    ></p-button>
                                  </div>
                                </div>
                              </ng-template>
                              <ng-template let-user pTemplate="gridItem">
                                <div class="p-col-12 p-md-4">
                                  <div
                                    class="product-grid-item card widget-timeline border p-4 mb-5 shadow rounded"
                                    style="
                                      margin-left: 20px;
                                      margin-top: 20px;
                                      margin-right: 20px;
                                    "
                                  >
                                    <div
                                      class="product-grid-item-content"
                                      style="
                                        text-align: center;
                                        justify-content: center;
                                      "
                                    >
                                      <h5
                                        style="
                                          align-items: center;
                                          text-align: center;
                                        "
                                      >
                                        {{
                                          user.lastname + " " + user.firstname
                                        }}
                                      </h5>
                                      <img
                                        style="width: 120px; height: 120px"
                                        [src]="
                                          user.profilePic
                                            ? user.profilePic
                                            : 'assets/no-profile.png'
                                        "
                                        [alt]="user.lastName"
                                      />
                                      <div class="product-name">
                                        {{
                                          "Created On: " +
                                            (user.dateRegistered
                                              | date: "yyyy-MM-dd")
                                        }}
                                      </div>
                                      <div class="product-description">
                                        {{
                                          "Created By: " +
                                            GetUserFullName(user.registeredById)
                                        }}
                                      </div>
                                      <br />
                                    </div>
                                    <div class="product-grid-item-bottom">
                                      <span class="product-price"></span>
                                      <br />
                                      <p-button
                                        *ngIf="user.isDeactivated"
                                        icon=""
                                        label="Activate"
                                        styleClass="p-mr-2 p-button-success"
                                        (click)="SwitchUserStatus(user)"
                                      ></p-button>
                                      <p-button
                                        *ngIf="!user.isDeactivated"
                                        icon=""
                                        label="Deactivate"
                                        styleClass="p-mr-2 p-button-danger"
                                        (click)="SwitchUserStatus(user)"
                                      ></p-button>
                                      <div
                                        style="
                                          width: 100%;
                                          align-items: center;
                                          text-align: center;
                                          margin-top: 2px;
                                        "
                                      >
                                        <p-button
                                          label=""
                                          icon="pi pi-pencil"
                                          styleClass="p-mr-2 p-button-info"
                                          (onClick)="EditUser(user)"
                                        ></p-button>
                                        <p-button
                                          label=""
                                          icon="pi pi-trash"
                                          disabled="disabled"
                                          styleClass="p-mr-2 p-button-primary"
                                          (onClick)="DeleteUser(user)"
                                        ></p-button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </p-dataView>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Review System User Creation" leftIcon="pi pi-home">
      <div class="row">
        <div class="col-12">
          <div class="col-12">
            <div
              *ngIf="fetchingUserCreationRequests; else tableDataUserRequests"
              class="text-center"
            >
              <p-progressSpinner></p-progressSpinner>
            </div>
            <ng-template #tableDataUserRequests>
              <p-table
                #dtUserCreationRequests
                [value]="allUserCreationRequests"
                [(selection)]="selectedUserCreationRequests"
                dataKey="id"
                styleClass="p-datatable-customers"
                [rowHover]="true"
                [rows]="10"
                [paginator]="true"
                [filterDelay]="0"
                [globalFilterFields]="['email', 'dateRegistered']"
                [columns]="userRequestApprovalCols"
              >
                <ng-template pTemplate="caption">
                  <div>
                    <button
                      type="button"
                      pButton
                      pRipple
                      icon="pi pi-file-o"
                      (click)="dtUserCreationRequests.exportCSV()"
                      class="p-mr-2"
                      pTooltip="CSV"
                      tooltipPosition="bottom"
                      label="export all"
                    ></button>
                    <button
                      type="button"
                      pButton
                      pRipple
                      icon="pi pi-filter"
                      (click)="
                        dtUserCreationRequests.exportCSV({
                          selectionOnly: true
                        })
                      "
                      class="p-button-info p-ml-auto"
                      pTooltip="Selection Only"
                      tooltipPosition="bottom"
                      label="export selected"
                    ></button>
                  </div>
                  <div class="table-header">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        (input)="
                          dtUserCreationRequests.filterGlobal(
                            $event.target.value,
                            'contains'
                          )
                        "
                        placeholder="Global Search"
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 3rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="email">
                      Email
                      <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th pSortableColumn="dateRegistered">
                      Date Registered
                      <p-sortIcon field="dateRegistered"></p-sortIcon>
                    </th>
                    <th>Role To Assigne</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-selected>
                  <tr class="p-selectable-row">
                    <td>
                      <p-tableCheckbox [value]="selected"></p-tableCheckbox>
                    </td>
                    <td>{{ selected.email }}</td>
                    <td>{{ selected.dateRegistered | date: "yyyy-MM-dd" }}</td>
                    <td>
                      <p-dropdown
                        [options]="allRoles"
                        [(ngModel)]="selected.role"
                        placeholder="--Select Assigned Role--"
                        [showClear]="true"
                        [filter]="true"
                        optionLabel="name"
                      >
                      </p-dropdown>
                    </td>
                    <td>
                      <p-button
                        label="Reject"
                        icon="pi pi-times"
                        styleClass="p-mr-2 p-button-danger"
                        [disabled]="!selected.role"
                        (onClick)="ActOnUserCreationRequest(selected, false)"
                      ></p-button>
                      <p-button
                        label="Approve"
                        icon="pi pi-check"
                        styleClass="p-mr-2 p-button-success"
                        (onClick)="ActOnUserCreationRequest(selected, true)"
                      ></p-button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="3">
                      No Pending System User Creation Requests.
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-template>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
